.form-control::placeholder,
.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder {
  color: #adb5bd !important;
  opacity: 0.6 !important;
  font-style: italic;
}

textarea.form-control::placeholder,
textarea.form-control::-webkit-input-placeholder,
textarea.form-control::-moz-placeholder,
textarea.form-control:-ms-input-placeholder {
  color: #adb5bd !important;
  opacity: 0.6 !important;
  font-style: italic;
}

#budget-time-allocated-input::placeholder,
#budget-currency-symbol-input::placeholder,
#budget-team-cost-input::placeholder,
#budget-total-manual-input::placeholder,
#budget-revision-reason-input::placeholder,
#budget-delete-confirmation-input::placeholder {
  color: #adb5bd !important;
  opacity: 0.6 !important;
  font-style: italic;
}

#budget-effective-date-picker .DateInput_input::placeholder {
  color: #adb5bd !important;
  opacity: 0.6 !important;
  font-style: italic;
}
